@{
    ViewData["Title"] = "Escuela Steve Jobs";
}

<div class="container">
    <div class="d-flex flex-column justify-content-center">
      <div class="m-4">
          <h1>Escuela Steve Jobs</h1>
      </div>
      <div class="m-3">
          <img alt="Vue logo" src="img/book.svg">
      </div>
    </div>
</div>

<style>
img
{
width: 830px; 
height: 180px; 
}

.d-flex {
    display: flex!important;
    align-items: center;
}
</style>